.estimate-compo
  padding-top:1rem
  h2
    text-align: center
    font-size: 1.9rem
  form 
    margin-top: 1rem
    display: flex
    flex-direction: column
    gap: 1rem
    .field
      label
        text-align: left
        font-size: 1rem
      input,
      textarea
        margin-top: 0.3rem
        width: 100% 
        background-color: inherit
        padding: 0.5rem
        border: none
        outline: none
        font-size: 1rem
        border: 2px solid gray
        border-radius: 0.4rem
        font-family: open-sans
      input:focus,
      textarea:focus 
        border: orange  2px solid
    .button-estimate-div
      margin-top: 1rem
  margin-bottom: 1rem

.sending-text
  font-size: 1.4rem
  margin-top: 1rem

@media (min-width: 800px)
  .estimate-compo
    display: flex
    flex-direction: column
    align-items: center
    h2
      font-size: 2.4rem
    form
      width: 50vw
      .field 
        label
          font-size: 1rem
        input, textarea
          font-size: 1rem
    
@media (min-width: 1000px)
  .estimate-compo
    padding-bottom: 3rem
    margin-bottom: 0
    form
      .button-estimate-div
        margin-top: 1.5rem
    h2
      margin-top: 1rem
    form
      font-size: 1rem
    
      width: 30vw
      heigh: 50vh
      .field 
        label
          font-size: 1.3rem
          font-size: 1rem
        input, textarea
          font-size: 1.1rem
          font-size: 1rem
    