footer
  padding: 2rem 0.5rem
  background-color: #999
  color: white

.social
  margin: 0 auto
  width: 20vw
  display: flex
  gap: 0.2rem
  figure
    width: 1rem
    height: 1rem
    img
      width: 100%
      height: 100%
      display: block

.contact
  margin-top: 1rem
  display: flex
  justify-content: space-around

.credits
  p
    font-size: 0.5rem
    line-height: 0.8rem
  .line
    display: flex
    align-items: center
    img
      height: 0.6rem
      width: 0.6rem
      display: block
      margin-right: 0.1rem
    