footer
  padding: 2rem 0.5rem
  background-color: #999
  color: white
  display: flex
  flex-direction: column
  align-items: center
  
.social //1
  display: none
  justify-content: center
  gap: 0.6rem
  figure
    width: 2rem
    height: 2rem
    img
      width: 100%
      height: 100%
      display: block

.credits
  display: flex
  flex-direction: column
  gap: 1rem

.contact //2 y 3
  .line
    display: flex
    align-items: center
    img
      height: 1.6rem
      width: 1.6rem
      display: block
      margin-right: 0.3rem
    p
      line-height: 1.9rem
      font-size: 1.2rem   

@media (min-width: 800px)
  .social //1
    justify-content: center
    gap: 0.6rem
    figure
      width: 2.5rem
      height: 2.5rem
  .credits 
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 3rem
  .contact
    .line
      img
        height: 1.6rem
        width: 1.6rem
      p
        font-size: 1.3rem
    
@media (min-width: 1000px)
  .credits
    gap: 10%