footer
  padding: 1rem 1.5rem
  font-size: 1rem
  background-color: #999
  color: white
  display: flex
  flex-direction: column
  align-items: left
  
.credits
  display: flex
  flex-direction: column

.contact
  .line
    display: flex
    align-items: center
    img
      height: 1.4rem
      width: 1.4rem
      display: block
      margin-right: 0.3rem
    p
      line-height: 1.9rem   

@media (min-width: 800px)
  .credits 
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 2rem
  .contact
    .line
      img
        height: 1.4rem
        width: 1.4rem
      p
        font-size: 1rem
    
@media (min-width: 1000px)
  .credits 
    display: grid
    grid-template-columns: 1fr 1fr
    place-items: center
  .contact
    .line
      img
        height: 1.6rem
        width: 1.6rem
      p
        font-size: 1.1rem