.gallery-compo
  margin-top: 1rem
  display: flex
  flex-direction: column
  align-items: center
  gap: 1rem
  h3
    margin-top: 1rem
    margin-bottom: 1rem
    font-size: 2rem
    color: #0f4c61
  .image-card
    width: 100%
    figure
      width: 100%
      img
        width: 100%
        height: 100%
    p
      font-size: 1rem
      text-align: center
  .button-estimate-div
    margin-top: 1rem
    margin-bottom: 1rem
  .more-button
    margin-top: 1rem
    width: 2.5rem
    img
      height: 100%
      width: 100%
      display: block
  .gallery-image
    position: relative
    figure:nth-of-type(2)
      cursor: pointer
      position: absolute
      width: 1.9rem
      top: 0
      right: 0
      background-color: #fbf7ef
      border-radius: 12px
      padding: 0.2rem
      img
        display: block
        width: 100%
        height: 100%

    

@media (min-width: 800px)
  .gallery-compo
    width: 70vw
    margin: 0 auto
    .more-button
      margin-top: 1rem
      width: 3rem
    .button-estimate-div
      margin-top: 3rem
      margin-bottom: 2rem
    .form-job
      margin-top: 1rem
    .gallery-image
      figure:nth-of-type(2)
        width: 2rem

@media (min-width: 1000px)
  .gallery-compo
    width: 55vw
    gap: 1rem
    margin: 0rem auto
    padding-top: 2rem
    padding-bottom: 0rem
    .button-estimate-div
      margin-top: 2rem
      margin-bottom: 3.5rem
    h2
      margin-bottom: 1rem