.gallery-compo
  margin-top: 1rem
  display: flex
  flex-direction: column
  align-items: center
  gap: 1rem
  h2
    margin-bottom: 1rem
  figure
    width: 100%
    img
      width: 100%
      height: 100%
  .button-estimate-div
    margin-top: 1rem
    margin-bottom: 1rem

@media (min-width: 800px)
  .gallery-compo
    padding-left: 4rem
    padding-right: 4rem
    .button-estimate-div
      margin-top: 2rem
      margin-bottom: 2rem

@media (min-width: 1000px)
  .gallery-compo
    width: 65vw
    gap: 1rem
    margin: 0rem auto
    padding-top: 2rem
    padding-bottom: 0rem
    .button-estimate-div
      margin-top: 2rem
      margin-bottom: 3.5rem
    h2
      margin-bottom: 0rem