.gallery-compo
  margin-top: 1rem
  display: flex
  flex-direction: column
  align-items: center
  gap: 1rem
  .button-estimate-div
    margin-top: 2rem
    margin-bottom: 2rem
  h2
    margin-bottom: 1rem
  figure
    width: 100%
    img
      width: 100%
      height: 100%

@media (min-width: 800px)
  .gallery-compo
    width: 90vw

@media (min-width: 1000px)
  .gallery-compo
    width: 60vw
    gap: 2rem
    margin: 4rem auto