.jobs-compo
  display: flex
  gap: 1.5rem
  flex-direction: column
  align-items: center
  text-align: center
  margin-bottom: 1rem

//LA PRIMERA IMAGEN AL PRINCIPIO 
.jobs-img
  aspect-ratio: 1 / 1
  img
    object-fit: cover

//APARTADO DE PARRAFO
.text-compo
  h3
    font-size: 1.7rem
    color: #0f4c61
  p
    margin-top: 0.4rem
    font-size: 1.2rem

//BOTONERA
.botonera
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-auto-rows: repeat(2, 1fr)
  width: 70%
  height: 100px
  // margin-top: 0.5rem
  a
    border: 1px solid #314044
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
  a:nth-child(1)
    border-left: none
    border-top: none
  a:nth-child(2)
    border-top: none
  a:nth-child(3)
    border-top: none
    border-right: none
  a:nth-child(4)
    border-left: none
    border-bottom: none
  a:nth-child(5)
    border-bottom: none
  a:nth-child(6)
    border-bottom: none
    border-right: none

//MORE
.more-button
  width: 2.5rem
  cursor: pointer

//TARJETAS DE TRABAJO
.job-card
  display: flex
  flex-direction: column
  gap: 0.1rem
  width: 100%
  figure
    width: 100%
    img
      width: 100%
      height: 100%
  h3
    font-size: 1.5rem
    text-decoration: underline
  section
    p
      overflow-wrap: break-word
      font-size: 1.1rem
      margin-top: 0.2rem

.job-date
  font-size: 1rem
  font-weight: 750
  color: #0f4c61

.pencil-line
  display: flex
  align-items: center
  gap: 0.2rem
  figure
    cursor: pointer
    width: 1.4rem
    height: 1.4rem
    img
      width: 100%
      height: 100%
  p
    margin: 0 0.5rem

.l
  text-align: left
  justify-content: left
.r
  text-align: right
  justify-content: right
  flex-direction: row-reverse

//form job
.form-job
  form 
    display: flex
    flex-direction: column
    gap: 1rem
    .field
      label
        text-align: left
        font-size: 1rem
      input,
      textarea
        margin-top: 0.3rem
        width: 100% 
        background-color: inherit
        padding: 0.5rem
        border: none
        outline: none
        font-size: 1rem
        border: 2px solid gray
        border-radius: 0.4rem
        font-family: open-sans
      input:focus,
      textarea:focus 
        border: orange  2px solid

@media (min-width: 800px)
  .jobs-compo
    width: 75vw
    margin: 0 auto
    gap: 4rem
    h2
      margin-bottom: -2rem
    .button-estimate-div
      margin-bottom: 1.5rem
  .text-compo
    h2
      font-size: 1.8rem
    p
      font-size: 1.5rem
  .job-card
    h3
      font-size: 1.7rem
    p
      font-size: 1.5rem
  .more-button
    width: 3rem

  // .form-job
  //   form
  //     width: 60vw
  //     .field 
  //       label
  //         font-size: 1.6rem
  //       input, textarea
  //         font-size: 1.2rem

@media (min-width: 1000px)
  .jobs-compo
    width: 55vw
    margin: 0 auto
    padding-top: 2rem
    gap: 4rem
    padding-bottom: 2rem
    h2
      margin-bottom: -2rem
    .button-estimate-div
      // margin-top: -1.5rem
  .jobs-img
    aspect-ratio: 16 / 9
    overflow: hidden
  .text-compo
    h3
      font-size: 2.2rem
    p
      font-size: 1.5rem
  .job-card
    h3
      font-size: 2.2rem
    p
      font-size: 1.4rem
      
  .form-job
    form
      width: 40vw
      .field 
        label
          font-size: 1.4rem
        input, textarea
          font-size: 1rem

    