.jobs-compo
  margin-top: 1rem
  display: flex
  gap: 3rem
  flex-direction: column
  align-items: center
  text-align: center
  margin-bottom: 1rem
  h2
    margin-bottom: -1rem

//LA PRIMERA IMAGEN AL PRINCIPIO 
.jobs-img
  aspect-ratio: 1 / 1
  img
    width: 100%
    height: 100%
    object-fit: cover

//APARTADO DE PARRAFO
.text-compo
  h3
    font-size: 1.7rem
    color: #0f4c61
  p
    margin-top: 0.4rem
    font-size: 1.2rem

//TARJETAS DE TRABAJO
.job-card
  figure
    width: 100%
    img
      width: 100%
      height: 100%
  .l
    text-align: left
  .r
    text-align: right
  h3
    font-size: 1.5rem
    margin-top: 0.5rem
    text-decoration: underline
  p
    font-size: 1.1rem
    margin-top: 0.2rem

//form job
.form-job


@media (min-width: 800px)
  .jobs-compo
    padding-left: 4rem
    padding-right: 4rem
    .button-estimate-div
      margin-bottom: 1.5rem
  .text-compo
    h2
      font-size: 1.8rem
    p
      font-size: 1.5rem
  .job-card
    h3
      font-size: 1.8rem
    p
      font-size: 1.5rem

@media (min-width: 1000px)
  .jobs-compo
    width: 65vw
    margin: 0 auto
    padding-top: 2rem
    gap: 5rem
    padding-bottom: 2rem
    h2
      margin-bottom: -3rem
    .button-estimate-div
      margin-top: -1.5rem
  .jobs-img
    aspect-ratio: 16 / 9
    overflow: hidden
  .text-compo
    h3
      font-size: 2.2rem
    p
      font-size: 1.5rem
  .job-card
    h3
      font-size: 2.3rem
    p
      font-size: 1.5rem
    