.jobs-compo
  display: flex
  gap: 1.5rem
  flex-direction: column
  align-items: center
  text-align: center

//LA PRIMERA IMAGEN AL PRINCIPIO 
.jobs-img
  aspect-ratio: 1 / 1
  img
    border-radius: 15px
    object-fit: cover

//APARTADO DE PARRAFO
.text-compo
  h3
    font-size: 1.7rem
    color: #0f4c61
  p
    margin-top: 0.4rem
    font-size: 1.2rem

//BOTONERA
.botonera
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-auto-rows: repeat(2, 1fr)
  width: 70%
  height: 100px
  a
    border: 1px solid #314044
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
  a:nth-child(1)
    border-left: none
    border-top: none
  a:nth-child(2)
    border-top: none
  a:nth-child(3)
    border-top: none
    border-right: none
  a:nth-child(4)
    border-left: none
    border-bottom: none
  a:nth-child(5)
    border-bottom: none
  a:nth-child(6)
    border-bottom: none
    border-right: none

//RUBRO TITULO
.rubro-title
  // margin: rem 0 -0.5rem 0

//MORE
.more-button
  width: 2.5rem
  cursor: pointer

//TARJETAS DE TRABAJO
.job-card
  display: flex
  flex-direction: column
  gap: 0.4rem
  width: 100%
  figure .job-img
    width: 100%
    border-radius: 14px
  h3
    font-size: 1.5rem
    text-decoration: underline
  section
    p 
      overflow-wrap: break-word
      font-size: 1.1rem

.pencil-line
  display: flex
  align-items: center
  gap: 0.2rem
  margin-bottom: -0.3rem
  figure
    cursor: pointer
    width: 1.4rem
    height: 1.4rem
  p
    margin: 0 0.5rem

.job-date
  font-size: 1rem
  font-weight: 750
  color: #0f4c61

.l
  text-align: left
  justify-content: left
.r
  text-align: right
  justify-content: right
  flex-direction: row-reverse

//imagen gigante de un job
.job-image
  position: relative
  button
    position: absolute
    top: 0.3rem
    border-radius: 10px
    right: 0.3rem

//EDIT JOB
.input-job
  background-color: inherit
  outline: none
  border: 2px solid gray
  border-radius: 0.4rem
  padding: 0.5rem
  width: 100%
.input-job:focus,
.input-job:focus 
    border: orange  2px solid

.edit-buttons
  display: flex
  justify-content: center
  align-items: center
  gap: 0.8rem
  figure
    cursor: pointer
  button
    padding: 0.4rem

.edit-button
  height: 1.6rem

//NEW JOB
.form-job
  form 
    display: flex
    flex-direction: column
    gap: 1rem
    .field
      label
        text-align: left
        font-size: 1rem
      input,
      textarea
        margin-top: 0.3rem
        width: 100% 
        background-color: inherit
        padding: 0.5rem
        border: none
        outline: none
        font-size: 1rem
        border: 2px solid gray
        border-radius: 0.4rem
        font-family: open-sans
      input:focus,
      textarea:focus 
        border: orange  2px solid

@media (min-width: 800px)
  .jobs-compo
    width: 75vw
    margin: 0 auto
    gap: 1.5rem
    padding-bottom: 1rem
  .jobs-img
    aspect-ratio: 16 / 9
    overflow: hidden
  .jobs-compo h3
      font-size: 2.2rem
  .text-compo
    h3
      font-size: 2rem
    p
      font-size: 1.4rem
  .job-card
    h3
      font-size: 1.7rem
    p
      font-size: 1.5rem
  .more-button
    width: 3rem
  .l
    text-align: center
    justify-content: center
  .r
    text-align: center
    justify-content: center
    flex-direction: row-reverse
  
  .rubro-title
    // margin: -1rem 0

  .edit-buttons
    button
      padding: 0.5rem

  .edit-button
    height: 1.8rem

  .form-job
    form
      width: 55vw
      .field 
        label
          font-size: 1.3rem
        input, textarea
          font-size: 1rem

@media (min-width: 1000px)
  .jobs-compo
    width: 60vw
    margin: 0 auto
    padding-top: 1rem
    gap: 2.3rem
    padding-bottom: 2rem
    h2
      margin-bottom: -1rem
    .botonera
      width: 90%
      font-size: 1.1rem
    form
      // margin-bottom: 
  .l
    text-align: left
    justify-content: left
  .r
    text-align: right
    justify-content: right
    flex-direction: row
  .jobs-img
    aspect-ratio: 16 / 9
    overflow: hidden
  .job-card
    gap: 0.6rem
  .text-compo
    h3
      font-size: 2.2rem
    p
      font-size: 1.5rem
  .job-card
    h3
      font-size: 2.2rem
    p
      font-size: 1.4rem
  .edit-buttons
    button
      padding: 0.6rem
  .edit-button
    height: 2.2rem
  .form-job
    form
      width: 40vw
      .field 
        label
          font-size: 1.4rem
        input, textarea
          font-size: 1rem
 