#location
  display: flex
  flex-direction: column
  align-items: center
  margin: 0 auto
  gap: 1rem
  padding-bottom: 1rem
  .map-image
    img
      border: 1px solid grey 
      border-radius: 11px
  p
    font-weight: 4500
  .google-maps
    width: 4rem

@media (min-width: 800px)
  #location
    width: 100%
    .map-image
      width: 45vw
    p
      font-size: 1.4rem
    .google-maps
      width: 6rem

@media (min-width: 1000px)
  #location
    gap: 0.5rem
    padding-top: 1rem 
    padding-bottom: 2rem
    .map-image
      width: 40vw
    h2
      margin-bottom: 1rem
    .google-maps
      margin-top: 1rem