.location-compo
  display: flex
  flex-direction: column
  align-items: center
  margin: 0 auto
  gap: 1rem
  width: 85vw
  p
    font-size: 1.15rem
  
@media (min-width: 800px)
  .location-compo
    padding-bottom: 1rem
    width:  70vw
    p
      font-size: 1.4rem

@media (min-width: 1000px)
  .location-compo
    padding-top: 1rem 
    width: 60vw
    gap: 1.6rem
    padding-bottom: 2rem