.location-compo
  padding-top: 1rem
  display: flex
  flex-direction: column
  align-items: center
  gap: 1rem
  margin-bottom: 1rem
  h2
    margin-bottom: 1rem
  .location-img
    width: 100%
    img
      width: 100%
      height: 100%
  p
    font-size: 1.1rem
    margin-bottom: 1rem
  .button-estimate-div
    margin-top: -0.5rem

@media (min-width: 800px)
  .location-compo
    padding-left: 4rem
    padding-right: 4rem
    margin-bottom: 1rem
    p
      font-size: 1.6rem
      margin-bottom: 1rem
    .button-estimate-div
      margin-top: 1rem
      margin-bottom: 1rem
  .location-img
    width: 100%
    img
      width: 100%
      height: 100%

@media (min-width: 1000px)
  .location-compo
    width: 60vw
    margin: 0 auto   
    padding-top: 2rem 
    padding-bottom: 3rem
    h2
      margin-bottom: 1rem
