.login-compo
  min-height: 60vh
  form
    gap: 0.2rem
.loading-text
  font-size: 1.4rem
  text-align: center
  font-weight: 600

.peak-line
  display: flex
  align-items: center
  figure
    margin-left: 0.2rem
    height: 2rem
    width: 2rem
    cursor: pointer

.login-compo
  form
    label
      font-weight: 700
    button
      margin-top: 0.7rem

@media (min-width: 800px)
  .login-compo
    min-height: 65vh

@media (min-width: 1000px)
  .login-compo
    min-height: 70vh