@font-face
  font-family: graduate
  src: url("./assets/Graduate-Regular.ttf")

@font-face 
  font-family: open-sans
  src: url("./assets/OpenSans.ttf")

@import "./styles/navbar"
@import "./styles/home"
@import "./styles/service"
@import "./styles/jobs"
@import "./styles/gallery"
@import "./styles/estimate"
@import "./styles/location"
@import "./styles/footer"
  
* 
  padding: 0
  margin: 0
  box-sizing: border-box

a
  text-decoration: none
  color: inherit

a:hover, a:active
  color: orange //confirmar color de hover

html 
  scroll-behavior: smooth

body
  font-family: open-sans

h1
  font-family: graduate
  font-weight: 500
  
h2 
  font-size: 1.9rem