@font-face {
  font-family: graduate;
  src: url("./assets/Graduate-Regular.ttf");
}
@font-face {
  font-family: open-sans;
  src: url("./assets/OpenSans.ttf");
}
nav {
  background-color: #fff;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  height: 2.5em;
  width: 3.5rem;
}
.nav-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-links {
  display: none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 1rem;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.open {
  display: flex;
}

.desktop-navbar {
  display: none;
}

@media (min-width: 800px) {
  nav {
    padding: 0.8rem 0.6rem;
  }
}
@media (min-width: 1000px) {
  nav {
    padding: 1rem 1.5rem 1rem 1rem;
  }
  .desktop-navbar {
    display: flex;
    width: 30vw;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1.1rem;
  }
  .hamburger {
    display: none;
  }
  .nav-logo {
    height: 3em;
    width: 4rem;
  }
}
.home-mobile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.home-mobile figure {
  width: 100%;
  aspect-ratio: 1/1;
}
.home-mobile figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-mobile p {
  font-size: 1.2rem;
}
.home-mobile .button-estimate-div {
  margin-bottom: 3rem;
}

.home-desktop {
  display: none;
}

@media (min-width: 800px) {
  .home-mobile {
    gap: 1.5rem;
  }
  .home-mobile figure {
    aspect-ratio: 16/9;
  }
  .home-mobile h1 {
    font-size: 3rem;
  }
  .home-mobile p {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .home-mobile h1, .home-mobile p {
    padding: 1rem;
  }
}
@media (min-width: 1000px) {
  .home-mobile {
    display: none;
  }
  .home-desktop {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .home-desktop .home-desktop-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem;
    gap: 3rem;
  }
  .home-desktop .home-desktop-title h1 {
    font-size: 3.5rem;
  }
  .home-desktop .home-desktop-title p {
    width: 35ch;
    font-size: 1.5rem;
  }
  .home-desktop figure {
    width: 100%;
    aspect-ratio: 1/1;
  }
  .home-desktop figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.services-compo {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
  align-items: center;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}
.service figure {
  width: 3rem;
  height: 3rem;
}
.service figure img {
  width: 100%;
  height: 100%;
}
.service p {
  width: 30ch;
  text-align: center;
}

@media (min-width: 800px) {
  .services-compo {
    font-size: 1.4rem;
  }
  .services-compo figure {
    width: 4.5rem;
    height: 4.5rem;
  }
  .services-compo p {
    font-size: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .services-compo {
    margin: 7rem auto;
    display: grid;
    padding: 0 9rem;
    grid-template-columns: 50% 50%;
    row-gap: 3rem;
  }
  .services-compo figure {
    width: 3.4rem;
    heigth: 3.4rem;
  }
}
.jobs-compo {
  margin-top: 1rem;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}
.jobs-compo h2 {
  margin-bottom: -1rem;
}

.jobs-img {
  aspect-ratio: 1/1;
}
.jobs-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-compo h3 {
  font-size: 1.7rem;
  color: #0f4c61;
}
.text-compo p {
  margin-top: 0.4rem;
  font-size: 1.2rem;
}

.job-card figure {
  width: 100%;
}
.job-card figure img {
  width: 100%;
  height: 100%;
}
.job-card .l {
  text-align: left;
}
.job-card .r {
  text-align: right;
}
.job-card h3 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  text-decoration: underline;
}
.job-card p {
  font-size: 1.1rem;
  margin-top: 0.2rem;
}

@media (min-width: 800px) {
  .jobs-compo {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .text-compo h2 {
    font-size: 1.8rem;
  }
  .text-compo p {
    font-size: 1.5rem;
  }
  .job-card h3 {
    font-size: 1.8rem;
  }
  .job-card p {
    font-size: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .jobs-compo {
    width: 60vw;
    margin: 0 auto;
    gap: 5rem;
  }
  .text-compo h2 {
    font-size: 2.3rem;
  }
  .text-compo p {
    font-size: 1.5rem;
  }
  .job-card h3 {
    font-size: 2.3rem;
  }
  .job-card p {
    font-size: 1.5rem;
  }
}
.gallery-compo {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.gallery-compo .button-estimate-div {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.gallery-compo h2 {
  margin-bottom: 1rem;
}
.gallery-compo figure {
  width: 100%;
}
.gallery-compo figure img {
  width: 100%;
  height: 100%;
}

@media (min-width: 800px) {
  .gallery-compo {
    width: 90vw;
  }
}
@media (min-width: 1000px) {
  .gallery-compo {
    width: 60vw;
    gap: 2rem;
    margin: 4rem auto;
  }
}
.estimate-compo {
  padding-top: 1rem;
  margin-bottom: 2rem;
}
.estimate-compo h2 {
  text-align: center;
  font-size: 1.9rem;
}
.estimate-compo form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.estimate-compo form .field label {
  text-align: left;
  font-size: 1rem;
}
.estimate-compo form .field input,
.estimate-compo form .field textarea {
  margin-top: 0.3rem;
  width: 100%;
  background-color: inherit;
  padding: 0.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  border: 2px solid gray;
  border-radius: 0.4rem;
  font-family: open-sans;
}
.estimate-compo form .field input:focus,
.estimate-compo form .field textarea:focus {
  border: orange 2px solid;
}

.sending-text {
  font-size: 1.4rem;
  margin-top: 1rem;
}

@media (min-width: 800px) {
  .estimate-compo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .estimate-compo h2 {
    font-size: 2.4rem;
  }
  .estimate-compo form {
    width: 70vw;
  }
  .estimate-compo form .field label {
    font-size: 1.6rem;
  }
  .estimate-compo form .field input, .estimate-compo form .field textarea {
    font-size: 1.2rem;
  }
}
@media (min-width: 1000px) {
  .estimate-compo form {
    width: 40vw;
    margin: 0 auto;
  }
  .estimate-compo form .field label {
    font-size: 1.3rem;
  }
  .estimate-compo form .field input, .estimate-compo form .field textarea {
    font-size: 1rem;
  }
}
.location-compo {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.location-compo h2 {
  margin-bottom: 1rem;
}
.location-compo p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.location-img {
  width: 100%;
}
.location-img img {
  width: 100%;
  height: 100%;
}

@media (min-width: 800px) {
  .location-compo {
    margin-bottom: 1rem;
  }
  .location-compo p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  .location-img {
    width: 100%;
  }
  .location-img img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1000px) {
  .location-compo {
    width: 60vw;
    margin: 2rem auto 1rem auto;
  }
}
footer {
  padding: 2rem 0.5rem;
  background-color: #999;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social {
  display: none;
  justify-content: center;
  gap: 0.6rem;
}
.social figure {
  width: 2rem;
  height: 2rem;
}
.social figure img {
  width: 100%;
  height: 100%;
  display: block;
}

.credits {
  diplay: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.contact .line {
  display: flex;
  align-items: center;
}
.contact .line img {
  height: 1.2rem;
  width: 1.2rem;
  display: block;
  margin-right: 0.3rem;
}
.contact .line p {
  line-height: 1.6rem;
  font-size: 1.2rem;
}

@media (min-width: 800px) {
  .social {
    justify-content: center;
    gap: 0.6rem;
  }
  .social figure {
    width: 2.5rem;
    height: 2.5rem;
  }
  .credits {
    width: 90%;
    display: flex;
    justify-content: space-around;
  }
  .contact {
    display: inline-block;
  }
  .contact .line {
    font-size: 1.6rem;
    line-height: 2.1rem;
  }
  .contact .line img {
    height: 1.4rem;
    width: 1.4rem;
  }
}
@media (min-width: 1000px) {
  .credits {
    justify-content: space-around;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:active {
  color: orange;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: open-sans;
}

.home {
  min-height: initial;
  background-color: #fbf7ef;
  padding: 0.94rem;
}

h1 {
  font-family: graduate;
  font-weight: 500;
}

h2 {
  font-size: 1.9rem;
  color: #0f4c61;
}

.button-estimate-div {
  margin: 0 auto;
}

button {
  cursor: pointer;
  padding: 0.6rem;
  font-size: 1rem;
  font-weight: 800;
  background-color: black;
  color: white;
  border-radius: 4px;
  border: none;
}

button:active, button:hover {
  color: orange;
}

.flex-grow {
  border: orange 1px solid;
  flex: 1;
}

@media (min-width: 800px) {
  .home {
    padding: 0;
  }
  h2 {
    font-size: 2.4rem;
  }
  button {
    padding: 0.9rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 1000px) {
  .home {
    min-height: 100vh;
    background-color: rgb(251, 247, 239);
    padding: 0rem;
  }
  h2 {
    font-size: 2.6rem;
  }
  button {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 800;
  }
}

/*# sourceMappingURL=app.css.map */
